.banner-bg {
  background-image: url("../../../src/assets/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .banner-bg {
    background-image: none;
  }
}
